#content{
	width:100%;
	position:relative;
	z-index:300;
}

.category{
	display:inline-block;
	font-size:0.8125rem;
	line-height: 1rem;
	font-weight:700;
	font-family:"nyt-franklin",arial,helvetica,sans-serif;
	letter-spacing: 0.05em;
	color:#333;
	margin-bottom: 2rem;
}

.category:hover{
	text-decoration: underline;
}

#infos{
	width:100%;
	position:relative;
	height:3rem;

}

#infos-right{
	position: absolute;
	right: 0.4rem;
	height: 100%;
	vertical-align: middle;
}

.infos-author {
	font-size: 0.6875rem;
	line-height:0.75rem;
	font-style:normal;
	font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
}

.infos-author a{
	text-decoration: none;
	color:#000000;
}

.infos-author a:hover {
	text-decoration: underline;
}

#infos-left {
	position: absolute;
	left: 0.4rem;
	height: 100%;
	vertical-align: middle;
}

.infos-img{
	width:1.6rem;
	height:1.6rem;
	margin:auto 0.2rem;
}

#cover{
	width:100%;
	margin-bottom:1rem;
}

#cover-img{
	width:100%;
	margin-bottom:0.5rem;
}

.cover-label{
	display:inline-block;
	font-size:14px;
}

.cover-photograph{
	display: inline-block;
	font-size: 11px;
	color: rgb(153,153,153);
}

#story{
	width:100%;
}

.article{
	font-size: 1.0625rem;
	line-height:1.625rem;
	font-weight:400;
	font-style: normal;
	font-family: georgia, "times new roman", times, serif;
	margin:1rem 4rem;
}

.article a {
	vertical-align: baseline;
	text-decoration: underline;
	font-size: 1.0625rem;
	line-height:1.625rem;
	font-weight:400;
	font-style: normal;
	font-family: georgia, "times new roman", times, serif;
}

.article a:link{
	color:#326891;
}

.article a:visited{
	color:#326891;
}

