#footer {
  position: relative;
  width: 60%;
  height: 600px;
  margin: 0 0 0 20%;
  background: pink;
}

#footer_top {
  text-align: right;
}

.content {
  padding-top: 2em;
  display: inline-block;
  width: 100%;
}

.columns {
  display: inline-block;
  height: 20em;
  padding-right: 3em;
  background: green;
}

#topright {
  border-left: thin solid lightgrey;
  padding-left: 1em;
  display: inline-block;
}

#bottomleft {
  height: 1em;
  display: inline-block;
}
