#footer {
  position: relative;
  width: 80%;
  height: 600px;
  left: 25%;
  right: 25%;
  margin: 0 0 0 -150px;
  background: pink;
}

#footer_top {
  text-align: right;
}

.content {
  padding-top: 2em;
  display: inline-block;
  width: 100%;
  border-bottom: thin solid lightgrey;
}

.columns {
  display: inline-block;
  height: 20em;
  padding-right: 0.7em;
}

.items {
  display: inline-block;
  background: red;
  width: 100%;
}
